# Angular
/dist
/tmp
/out-tsc

# Node
/node_modules
package-lock.json
npm-debug.log
.yarn-integrity

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VS Code
.vscode/*
!.vscode/extensions.json

# Misc
/.angular/cache
/.angular/
.DS_Store

# Tailwind
/tailwindcss*.tmp
